<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>hotel_pacific</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but hotel_pacific doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
    <!-- built files will be auto injected -->
    <div id="app"></div>
  </body>
</html>

<script>
  //js filter map reduce find includes
  ///api/live-data/all
  //vue-if vue-for class binding
  /*var newobj;

  window.onload = function () {
      var div = document.getElementById("test-div");
      console.log("div", div);

      var r = fetch('http://192.168.0.133/api/live-data/all')
          .then(function (response) {
              return response.json();
          }).then(function (response) {
             // console.log("response",typeof response);
              var newItems = response.filter(function(item){
                  return !!item.clientId && item.clientId==="datahub";
              });

              console.log(newItems);
              var text = newItems[1].data.toString();
              var obj = JSON.parse(text);
              newobj = obj;
              console.log(obj);
              div.innerHTML = obj.count;
              return response;
          });

  }
  console.log(window.newobj);*/

</script>