<template>
  <div class="main-container">
    
      
      <div class="single" v-if="fiteredEvents.length>=2">
        <div class="today-event">
          <img src="./header-g2.jpg" />
        </div>
        <div class="events-container" v-for="(event,index) in fiteredEvents" :key="index">
          <div id="whitebar" />
          <Event :event="event" />
        </div>
      </div>

      <div class="single" v-else-if="fiteredEvents.length==1">
        <SingleEvent :event="fiteredEvents[0]" />
      </div>

      <div class="background" v-else-if="inTimeEvents.length===0 && !isFetching">
        <img src="./RPH_player_BG.jpg" />
      </div>

    
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import Event from "./Event.vue";
import SingleEvent from "./SingleEvent.vue";

interface Data {
  isFetching: boolean;
  events: any[];
  pageIdx: number;
  currentEvent: any[];
}

export default Vue.extend({
  name: "Main",
  components: {
    Event: Event,
    SingleEvent: SingleEvent
  },
  props: {
    msg: String
  },
  data: (): Data => {
    return {
      isFetching: true,
      events: [],
      pageIdx: 0,
      currentEvent: []
    };
  },
  computed: {
    fiteredEvents: function() {
      return this.inTimeEvents.length === 1
        ? [this.inTimeEvents[0]]
        : this.inTimeEvents.length >= 2
        ? [
            this.inTimeEvents[this.pageIdx * 2],
            this.inTimeEvents[this.pageIdx * 2 + 1]
          ]
        : this.inTimeEvents;
    },

    inTimeEvents: function() {
      const now = new Date().getTime();
      return this.events.filter(
        event =>
          now >= Date.parse(event.startDateTime) &&
          now < Date.parse(event.endDateTime)
      );
    }
  },

  mounted: function() {
      //this.isFetching = true;
    this.fetchEvents();
      //this.isFetching = false;

    setInterval(() => {
      this.isFetching = false;
    }, 1000);
    setInterval(() => {
      this.fetchEvents();
    }, 5000);
    setInterval(() => {
      this.pageIdx++;
      if (this.pageIdx > Math.ceil(this.inTimeEvents.length / 2) - 1) {
        const data = {
          appKey: "hotel_event_scheduler_webapp",
          funcName: "playNextItem",
          parameters: []
        };

        window.parent.postMessage(data, "*");
      }
    }, 30000);
  },
  methods: {
    async fetchEvents() {
      await axios.get("/api/live-data/all").then(response => {
        console.log("response", response);

        //this.events = !!response && !!response.data ? response.data.filter() : [];

        const resData = !!response && !!response.data ? response.data : null;
        if (!!resData) {
          const datahubEventsData = resData.find(
            data =>
              data.clientId === "datahub" &&
              data.namespace === "r1_event_scheduler"
          );
          this.events =
            !!datahubEventsData && !!datahubEventsData.data
              ? JSON.parse(datahubEventsData.data)
              : [];
        } else {
          this.events = [];
        }

        console.log("events", this.events);
        return response;
      });
    }
  },
  watch:{
    inTimeEvents : function(newVal, oldVal){
      console.log("New value: "+ newVal.length + ", Old value: " + oldVal.length+" index: "+this.pageIdx);
      if( (newVal.length - (this.pageIdx * 2))<=0 && oldVal.length>newVal.length && newVal.length != 0){
        const data = {
          appKey: "hotel_event_scheduler_webapp",
          funcName: "playNextItem",
          parameters: []
        };
        //console.log("ok");
        window.parent.postMessage(data, "*");
      }
   }
  }
});
</script>


<style lang="scss">
.first-text,
.last-text {
  color: #663200;
  font-weight: bold;
}
.first-text {
  font-size: 65px;
}
.last-text {
  font-size: 45px;
}

.events {
  height: 100%;
  background-color: #e0ceb8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    width: 100%;
    height: 22%; //
  }
  :last-child {
    text-align: center;
  }
}
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.main-container {
  height: 100%;
}
.today-event {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .word {
    height: 100%;
    width: 100%;
    background-color: #d2ba98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.today-event2 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .word {
    height: 100%;
    width: 100%;
    background-color: #d2ba98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 42.5%;
  width: 100%;
}
.events-container2 {
  height: 60%;
  width: 100%;
}

#colorstrip {
  width: 100%;
  height: 32px;
  border-color: #af9678;
  background-color: #af9678;
}
#whitebar {
  width: 100%;
  height: 8px;
  border-color: #ffffff;
  background-color: #ffffff;
}

.black-page {
  background: black;
}

.single {
  height: 100%;
  width: 100%;
}
.background {
  height: 100%;
  width: 100%;
}
</style>
