<template>
  <div class="container">
    <div class="today-event2">
      <img src="./header-g1.jpg" />
    </div>
    <div class="events-container2">
      <div id="whitebar" />

      <div class="events">
        <div>
          <p class="first-text">{{ event["eventName"] }}</p>
        </div>
        <div>
          <p class="first-text">{{ event["roomName"] }}</p>
        </div>
        <div>
          <p
            class="first-text"
          >{{ event["eventStartTime"].substr(0, 5) }} to {{ event["eventEndTime"].substr(0, 5) }}</p>
        </div>
        <div v-if="event['roomId'] == 'R1'">
          <p class="last-text" style="color: #663200;">
            Please take the lift to 9/F
            <br />請乘搭升降機往9樓
          </p>
        </div>
        <div v-else-if="event['roomId'] == 'R2'">
          <p class="last-text" style="color: #663200;">
            Please go upstairs to the Imperial Room
            <br />請沿樓梯前往黃庭廳
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "SingleEvent",
  props: {
    event: Object
  }
});
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.today-event {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .word {
    height: 100%;
    width: 100%;
    background-color: #d2ba98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.today-event2 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .word {
    height: 100%;
    width: 100%;
    background-color: #d2ba98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.events-container {
  height: 42.5%;
  width: 100%;
}
.events-container2 {
  height: 60%;
  width: 100%;
}

.events2 {
  height: 100%;
  background-color: #e0ceb8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    margin: 40px;
    width: 100%;
  }
}
#colorstrip {
  width: 100%;
  height: 32px;
  border-color: #af9678;
  background-color: #af9678;
}
#whitebar {
  width: 100%;
  height: 8px;
  border-color: #ffffff;
  background-color: #ffffff;
}
font {
  font-family: Microsoft JhengHei;
}
</style>
