<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
body {
  margin: 0;
  font-family: "Microsoft JhengHei";
}
html,
body,
#app {
  height: 100%;
  overflow: hidden;
}
</style>